body {
    font-size: 1.6em;
}

.container {
    background-color: white;
    width: 800px;
    border: 1px solid;
    padding-bottom: 10px;
}

.header,
.prompt {
    padding-bottom: 20px;
}

.header img {
    max-height: 116px;
}

.results {
    padding-top: 20px;
}

.btn {
    margin-top: 15px;
    margin-right: 55px;
    margin-bottom: 15px;
}
